<h2>New planned usage</h2>

<%= render "form.html", changeset: @changeset,
                        action: planned_usage_path(@conn, :create) %>

<%= link "Back", to: planned_usage_path(@conn, :index) %>
