<h2>Edit resident</h2>

<%= render "form.html", changeset: @changeset,
                        action: resident_path(@conn, :update, @resident) %>

<%= link "Back", to: resident_path(@conn, :index) %>
